# DATABASE CONFIGURATION
DB_NAME=
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_SSL=true
PORT=
# JWT CONFIGURATION
JWT_SECRET=
JWT_EXPIRES_IN=

# BLOCKCHAIN CONFIGURATION
SEPOLIA_RPC_URL=    
PRIVATE_KEY=    
CONTRACT_ADDRESS=
PINATA_API_KEY=
PINATA_SECRET_API_KEY=

# EMAIL CONFIGURATION
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_SECURE=false
MAIL_FROM=